<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--    <meta charset="UTF-8">-->
    <meta charset="ISO-8859-1">
    <title>Authors</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:switch="${authors}">
    <h2 th:case="null">No authors found!</h2>
    <div th:case="*">
        <h2>Authors</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}">
                <td th:text="${author.firstName}"></td>
                <td th:text="${author.lastName}"></td>
                <td><a th:href="@{delete-author/{id}(id=${author.authorID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addAuthor">Create Author</a></p>
</div>
</body>
</html>