<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <meta charset="UTF-8">-->
    <meta charset="ISO-8859-1">
    <title>Books</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
                <h2>Books</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th>PublishedDate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${#calendars.format(book.publishedDate, 'dd.MM.yyyy')}"></td>
                        <td><a th:href="@{delete-book/{id}(id=${book.bookID})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
    </div>
    <p><a href="/addBooks">Create Book</a></p>
</div>
</body>
</html>